body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 12vh;
    line-height: 12vh;
}

.clear {
    clear: both;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #323030;
    font-size: 23px;
    font-weight: 800;
}

.red {
    color: red;
}

.logout {
    text-decoration: none;
    font-size: 10px;
    color: #323030;
}

.logo-header {
    float: left;
    width: 30%;
    margin-left: 30px;
}
.left-section-header {
    float: right;
    width: 40%;
    text-align: right;
    margin-right: 30px;
}

.header-position-icons {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.header-position-icons:hover, .header-position-icons i:hover, .logout:hover {
    color:deepskyblue;
    cursor: pointer;
}

.main-container {
    margin: auto;
  }
  
  .site-menu,
  .main-content {
    float: left;
  }
  
  .site-menu {
    width: 20%;
  }
  
  .main-content {
    width: 80%;
    background-color: #e4e8eb;
    box-shadow: inset 0px 15px 15px -15px #aeaeae;
    height: 87.5vh;
    overflow: auto;
  }

  article h2 {
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
  }
  
  .site-menu {
    background-color: #313030;
    height: 88vh;
  }

 /* .li-menu {
    height: 8.2vh;
    line-height: 8.2vh;
    padding-left: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #989797;
    transition: ease-out 100ms;
  } */

  /* .li-menu:hover {
    background-color: #414141;
    transition: ease-in 100ms;
    cursor: pointer;
  } */

  .menu-single-position {
    height: 8.2vh;
    line-height: 8.2vh;
    padding-left: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #989797;
    transition: ease-out 100ms;
  }

  .site-menu a {
    text-decoration: none;
    color: white;
  }

  .menu-single-position:hover {
    background-color: #414141;
    transition: ease-in 100ms;
    cursor: pointer;
  }
  
  .active {
    background-color: #4f5964;
  }

  .menu-single-position.active {
    background-color: #4f5964;
  }

  .site-menu li.active i {
    color: #dce4e9;
  }

  .site-menu li a {
    text-decoration: none;
    color: #dce4e9;
    font-weight: 500;
  }

  i {
    margin-right: 10px;
    color: #989797;
  }

  .content-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 20px;
  }

  .single-box-content {
    flex: 30.5%;
    height: 250px;
    background-color: #ffffff;
    border-radius: 15%;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: ease-out 200ms;
  }

  .single-box-content:hover {
    box-shadow: 15px 15px 15px -5px #d5d5d5;
    transition: ease-in 200ms;
    cursor: pointer;
  }

  .panel-heading {
    float: left;
    width: 60%;
    padding: 25px 0 50px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #3a3a3a;
  }

  .panel-icon {
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
  }

  .panel-icon.orange {
    background-color: #fba28d;
  }

  .panel-icon.blue {
    background-color: #4bc6e8;
  }

  .panel-icon.purple {
    background-color: #c592cc;
  }

  .panel-icon i {
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
    color: #fff;
}

.panel-body {
    padding-left: 25px;
    padding-right: 25px;
}

.panel-body p {
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 300;
}

.strong {
    font-weight: 600;
    color: #5b5b5b;
}

.panel-body ul {
    list-style: disc;
    margin-left: 12%;
    font-size: 15px;
    line-height: 20px;
    color: #5b5b5b;
}

.panel-body.users-panel i {
    color: #1db51d;
    font-size: 20px;
    line-height: 30px;
}

.panel-body h2 {
    color: #5b5b5b;
}

.single-box-user {
    flex: 48%;
    max-width: 48%;
    height: 170px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: ease-out 200ms;
  }

  .single-box-user:hover {
    box-shadow: 15px 15px 15px -5px #d5d5d5;
    transition: ease-in 200ms;
    cursor: pointer;
  }

  .panel-heading-users {
    float: left;
    padding: 25px;
  }

  .panel-heading-users h3 {
    font-size: 20px;
    font-weight: 600;
    color: #3a3a3a;
  }

  .panel-users-more-information p, .panel-users-more-information i{
    color: deepskyblue;
    margin-left: 25px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 550;
  }

  .box-certificate {
    width: 100%;
    background-color: #ffffff;
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: ease-out 200ms;
  }

  .box-certificate h2 {
    font-size: 22px;
  }

  .certificate-information {
    width: 100%;
    margin: 20px 25px;
  }

  .information-square{
    background-color: deepskyblue;
    float: left;
    width: 50px;
    height: 50px;
  }

  .certificate-information i {
    color: white;
    font-size: 25px;
    line-height: 50px;
    margin-left: 20px;
  }

  .certificate-information-content {
    color: deepskyblue;
    font-size: 14px;
    border-bottom: 1px solid #aba6a6;
    border-right: 1px solid #c7c4c4;
    border-top: 1px solid #ebe8e8;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    width: 95%;
    margin-right: 25px;
  }

  #refresh-certificates {
    margin: 20px 25px ;
    background-color: #53616f;
    color: white;
    width: 90px;
    height: 45px;
    font-size: 15px;
    border: none;
    border-radius: 5%;
    transition: ease-out 200ms;
  }

  #refresh-certificates:hover {
    background-color: #464f58;
    transition: ease-in 200ms;
    cursor: pointer;
    box-shadow: 15px 15px 15px -15px #d5d5d5;
  }